@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
}

:root {
    --cor-fundo-fatec-menu-seguranca: #ffff;
    --cor-fundo-fatec-hover-menu-seguranca: rgb(182, 182, 182);
    --cor-fundo-referencias-menu-seguranca: rgb(20, 177, 240);
    --cor-fundo-referencias-hover-menu-seguranca: rgb(8, 117, 189);
    --cor-fundo-menu-seguranca: rgb(0, 0, 0);
    --cor-fundo-menu-hover-seguranca: rgb(63, 63, 63);
    --cor-fundo-menu-visited-seguranca: rgb(105, 52, 196);
    --cor-primaria-texto-menu-seguranca: rgb(231, 241, 236);
    --cor-primaria-texto-hover-menu-seguranca: rgb(151, 158, 155);
}

#mais{display: none}

.manual {
    width: 36.5px;
    height: 36.5px;
    background-image: url(../imgs/manuak.png);
    background-size: cover;
    transform: scale(0.90);
}

.logo {
    background-image: url(../imgs/logo.png);
    /* filter: blur(0.2px); */
    background-size: cover;
    width: 36.5px;
    height: 36.5px;
    transform: scale(0.90);
}

/* ===========//=========== */
/* MENU-seguranca */
/* ===========//=========== */

.menu-seguranca {
    background-color: var(--cor-fundo-menu-seguranca);
}

.menu-seguranca ul {
    max-width: 80%;
    background-color: var(--cor-fundo-menu-seguranca);
    margin: auto;
}

.menu-seguranca ul li {
    display: inline;
    position: relative;
    cursor: pointer;
}

.menu-seguranca > ul > li:first-child > a {
    float: left;
    background-color: var(--cor-fundo-referencias-menu-seguranca);
    color: white;
}

.menu-seguranca > ul > li:first-child > a:hover {
    float: left;
    background-color: var(--cor-fundo-referencias-hover-menu-seguranca);
    color: white;
}

.menu-seguranca > ul > li:last-child > a {
    float: right;
    background-color: var(--cor-fundo-referencias-menu-seguranca);
    color: rgb(255, 255, 255);
    transform: scale(0.90);
}

.menu-seguranca > ul > li:last-child > a:hover {
    float: right;
    background-color: var(--cor-fundo-referencias-hover-menu-seguranca);
    color: white;
}

.menu-seguranca > ul > li:last-child > a:active {
    transform: scale(0.85);
}

.menu-seguranca ul li a {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    color: white;
    padding: 10px;
}

.menu-seguranca li a:hover {
    background-color: var(--cor-fundo-menu-hover-seguranca);
    transition: .3s;
}

.menu-seguranca li a:active {
    transform: scale(0.85);
}

.menu-seguranca > ul > li:nth-child(4) > a {
    float: none;
    background-color: var(--cor-fundo-fatec-menu-seguranca);
    color: black;
}

.menu-seguranca > ul > li:nth-child(4) > a:hover {
    background-color: var(--cor-fundo-fatec-hover-menu-seguranca);
    color: white;
}

/* ===========//=========== */
/* SUB-MENU-seguranca */
/* ===========//=========== */

.menu-seguranca ul ul {
    display: none;
    position: absolute;
    max-width: 200%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-seguranca ul li:hover ul {
    display: block;
}

.menu-seguranca ul ul li a {
    display: block;
}

.menu-seguranca ul ul li a:hover {
    background-color: var(--cor-fundo-menu-hover-seguranca);
}

.menu-seguranca ul ul li:last-child a:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: none;
}

.menu-seguranca ul ul li a:visited {
    background-color: var(--cor-fundo-menu-visited-seguranca);
}

.menu-seguranca > ul > li:nth-child(4) > ul> li:nth-child(5) > a {
  float: none;
  background-color: var(--cor-fundo-menu-visited-seguranca);
  color: white;
}

.menu-seguranca > ul > li:nth-child(4) > ul> li:nth-child(5) > a:hover {
  float: none;
  opacity: 80%;
  color: white;
}

/* ===========//=========== */
/* BOTÃO */
/* ===========//=========== */

#scrollToTopButton {
    width: 45px; /* Ajuste a largura conforme necessário */
    height: 45px; /* Ajuste a altura conforme necessário */
    background-color: var(--cor-fundo-menu-seguranca); /* Cor de fundo do botão */
    border-radius: 50%; /* Deixa o botão redondo */
    position: fixed;
    bottom: 80px;
    right: 80px;
    text-align: center; /* Alinha o conteúdo horizontalmente */
    line-height: 20px; /* Centraliza verticalmente o conteúdo */
    font-size: 24px; /* Ajuste o tamanho do caractere conforme necessário */
    color: #fff; /* Cor do texto */
    cursor: pointer;
    display: none; /* Inicialmente, oculta o botão */
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
}
  
#scrollToTopButton:hover {
    background-color: var(--cor-fundo-menu-hover-seguranca); /* Cor de fundo ao passar o mouse (opcional) */
}
  
#scrollToTopButton.active {
    display: block; /* Mostra o botão quando está ativo */
}

/* ===========//=========== */
/* CONTEUDO */
/* ===========//=========== */

.conteudo {
    flex: 1 0 auto;
    margin-bottom: 48px;
    margin-left: 100px;
    margin-right: 100px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: black;
    margin-top: 32px;
    margin-left: 25px;
}

.nome-do-site {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 26px;
    margin-top: 20px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
}

.conteudo-principal-escrito-texto {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 15px;
	margin: 24px 70px;
    line-height: 2.5;
    text-align: justify;
}

.conteudo-principal-escrito-topico {
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 15px;
	margin: 2px 25px;
    /* line-height: 1.0; */
    list-style-type: none;
}

.conteudo-principal-escrito-subtopico {
  font-family: 'Comfortaa', cursive;
  font-weight: 800;
  font-size: 15px;
margin: 2px 25px;
  /* line-height: 1.0; */
  list-style-type: none;
}

.conteudo-principal-escrito-texto-topico {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 15px;
	margin: 2px 50px;
    line-height: 2.5;
    list-style-type: none;
    text-align: justify;

}

.links {
    text-decoration: underline;
}

.links:hover {
    opacity: 50%;
}

.links:visited {
    color: blue;
}

.sublinhado {
    text-decoration: underline;
}

.temp-margin {
    margin-top: 100px; /* Ajuste conforme necessário */
}

/* ===========//=========== */
/* seguranca */
/* ===========//=========== */

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.body-seguranca {
    background: #ffff;
}

.linha {
    margin-top: 35px;
    border-bottom: 0.4px solid black;
}

.video {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 15px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

.rodape-seguranca {
    flex-shrink: 0;
    padding: 10px;
    background-color: var(--cor-fundo-menu-seguranca);
}

.conteudo-rodape-seguranca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1px;
}

.conteudo-rodape-paragrafo1-seguranca {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 14px;
    color: white;
}