@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
}

:root {
    --cor-fundo-fatec-menu-manual: #ffff;
    --cor-fundo-fatec-hover-menu-manual: rgb(182, 182, 182);
    --cor-fundo-referencias-menu-manual: rgb(20, 177, 240);
    --cor-fundo-referencias-hover-menu-manual: rgb(8, 117, 189);
    --cor-fundo-menu-manual: rgb(0, 0, 0);
    --cor-fundo-menu-hover-manual: rgb(63, 63, 63);
    --cor-fundo-menu-visited-manual: rgb(105, 52, 196);
    --cor-primaria-texto-menu-manual: rgb(231, 241, 236);
    --cor-primaria-texto-hover-menu-manual: rgb(151, 158, 155);
}

#mais{display: none}

.manual {
    width: 36.5px;
    height: 36.5px;
    background-image: url(../imgs/manuak.png);
    background-size: cover;
    transform: scale(0.90);
}

.logo {
    background-image: url(../imgs/logo.png);
    /* filter: blur(0.2px); */
    background-size: cover;
    width: 36.5px;
    height: 36.5px;
    transform: scale(0.90);
}

/* ===========//=========== */
/* MENU-manual */
/* ===========//=========== */

.menu-manual {
    background-color: var(--cor-fundo-menu-manual);
}

.menu-manual ul {
    max-width: 80%;
    background-color: var(--cor-fundo-menu-manual);
    margin: auto;
}

.menu-manual ul li {
    display: inline;
    position: relative;
    cursor: pointer;
}

.menu-manual > ul > li:first-child > a {
    float: left;
    background-color: var(--cor-fundo-referencias-menu-manual);
    color: white;
}

.menu-manual > ul > li:first-child > a:hover {
    float: left;
    background-color: var(--cor-fundo-referencias-hover-menu-manual);
    color: white;
}

.menu-manual > ul > li:last-child > a {
    float: right;
    background-color: var(--cor-fundo-referencias-menu-manual);
    color: rgb(255, 255, 255);
    transform: scale(0.90);
}

.menu-manual > ul > li:last-child > a:hover {
    float: right;
    background-color: var(--cor-fundo-referencias-hover-menu-manual);
    color: white;
}

.menu-manual > ul > li:last-child > a:active {
    transform: scale(0.85);
}

.menu-manual ul li a {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    color: white;
    padding: 10px;
}

.menu-manual li a:hover {
    background-color: var(--cor-fundo-menu-hover-manual);
    transition: .3s;
}

.menu-manual li a:active {
    transform: scale(0.85);
}

/* ===========//=========== */
/* SUB-MENU-manual */
/* ===========//=========== */

.menu-manual ul ul {
    display: none;
    position: absolute;
    max-width: 200%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-manual ul li:hover ul {
    display: block;
}

.menu-manual ul ul li a {
    display: block;
}

.menu-manual ul ul li a:hover {
    background-color: var(--cor-fundo-menu-hover-manual);
}

.menu-manual ul ul li:last-child a:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: none;
}

.menu-manual ul ul li a:visited {
    background-color: var(--cor-fundo-menu-visited-manual);
}

/* ===========//=========== */
/* BOTÃO */
/* ===========//=========== */

#scrollToTopButton {
    width: 45px; /* Ajuste a largura conforme necessário */
    height: 45px; /* Ajuste a altura conforme necessário */
    background-color: var(--cor-fundo-menu-manual); /* Cor de fundo do botão */
    border-radius: 50%; /* Deixa o botão redondo */
    position: fixed;
    bottom: 80px;
    right: 80px;
    text-align: center; /* Alinha o conteúdo horizontalmente */
    line-height: 20px; /* Centraliza verticalmente o conteúdo */
    font-size: 24px; /* Ajuste o tamanho do caractere conforme necessário */
    color: #fff; /* Cor do texto */
    cursor: pointer;
    display: none; /* Inicialmente, oculta o botão */
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
}
  
#scrollToTopButton:hover {
    background-color: var(--cor-fundo-menu-hover-manual); /* Cor de fundo ao passar o mouse (opcional) */
}
  
#scrollToTopButton.active {
    display: block; /* Mostra o botão quando está ativo */
}

/* ===========//=========== */
/* CONTEUDO */
/* ===========//=========== */

.conteudo {
    flex: 1 0 auto;
    margin-bottom: 48px;
    margin-left: 100px;
    margin-right: 100px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: black;
    margin-top: 32px;
    margin-left: 25px;
}

.nome-do-site {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
}

.conteudo-principal-escrito-texto {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 15px;
	margin: 24px 70px;
    line-height: 2.5;
    text-align: justify;
}

.conteudo-principal-escrito-topico {
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 15px;
	margin: 2px 25px;
    /* line-height: 1.0; */
    list-style-type: none;
}

.conteudo-principal-escrito-texto-topico {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 15px;
	margin: 2px 50px;
    line-height: 2.5;
    list-style-type: none;
}

.links {
    text-decoration: underline;
}

.links:hover {
    opacity: 50%;
}

.links:visited {
    color: blue;
}

.sublinhado {
    text-decoration: underline;
}

.temp-margin {
    margin-top: 100px; /* Ajuste conforme necessário */
}

.div_btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn_p {
    height: 24px;
    width: 120px;
    border-radius: 10px;
    border: 1;
    background-color: var(--cor-fundo-menu-manual);
    color: white;
    margin-left: 6%;
}

.btn_p:hover {
    background-color: var(--cor-fundo-menu-hover-manual);
}

.btn_p a:visited {
    color: white;
}

/* ===========//=========== */
/* manual */
/* ===========//=========== */

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.body-manual {
    background: #ffff;
}

.linha {
    margin-top: 35px;
    border-bottom: 0.4px solid black;
}

.video {
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

.rodape-manual {
    flex-shrink: 0;
    padding: 10px;
    background-color: var(--cor-fundo-menu-manual);
}

.conteudo-rodape-manual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1px;
}

.conteudo-rodape-paragrafo1-manual {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 14px;
    color: white;
}